/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --default-bg-img: url('../assets/images/purple-evening.gif');

}

/* Mobile first */
* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px; 
}

h1 {
  font-family: "Jersey 15", sans-serif;
  font-size: 2.2rem;
}

h2 {
  font-family: "Jersey 15", sans-serif;
  font-size: 2.1rem;
  font-weight: 100;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

button {
  width: fit-content;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  font-family: "Jersey 15", sans-serif;
  background-color: black;
  color: white;
  border-radius: 50px;
}

button:hover {
  background-color: rgb(32, 32, 32);
}

input {
  font-size: 2rem;
  font-family: "Jersey 15", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden; 
  background-image: var(--default-bg-img)
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

header {
  overflow: hidden;
  height: 25%;
  position: relative;
  background-image: var(--default-bg-img);
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.header-content {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding: 3rem 2rem;
  gap: 1.5rem;
}

.page-settings-mobile {
  display: flex;
  position: absolute;
  z-index: 2000;
  top: 2rem;
  right: 2rem;
}

/* nav */
.nav-settings {
  display: none;
}

.nav-icon {
  display: flex;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  background: rgb(39, 38, 47);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  border: 0.7px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.active-nav{
  background: rgb(83, 83, 85);
}
.nav-icons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nav-container {
  display: flex;
  position: fixed;
  width: fit-content;
  background: rgba(39, 39, 39, 0.272);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.4rem;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  border-radius: 50px;
}

/* modal-section */
.name-modal {
  display: none;
  position: fixed; 
  justify-content: center;
  align-items: center;
  background-image: var(--default-bg-img);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}
.name-modal.active-modal {
  display: flex;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2.2rem;
  gap: 3.5rem;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.modal-content h1 {
  color: rgb(251, 251, 100);
}

.name-content{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}
.name-content input {
  background-color: black;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  color: rgb(251, 251, 100);
  text-transform: capitalize;
  cursor: text;
  text-align: center;
  caret-color: rgb(219, 219, 152);
}
.name-content p {
  color: lightgray;
  text-align: center;
  font-size: 0.9rem;
}

/* tablet */
@media (min-width: 768px) {
  p {
    font-size: 1.125rem; 
  }

  h2 {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 3rem;
  }

  .modal-content {
    width: 60%;
    font-size: 1.2rem;
  }
  .name-content p {
    font-size: 1.125rem;
  }

  button {
    font-size: 2rem;
  }

  header {
    height: 30%;
  }
  .header-content {
    padding: 3rem 4rem;
  }
  .page-settings-mobile {
    top: 2rem;
    right: 3rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  header {
    height: 35%;
  }
  .header-content {
    padding: 4rem 10rem;
  }
  
  .page-settings-mobile {
    display: none;
  }
  .nav-settings {
    display: flex;
  }
  .nav-icons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    background: rgba(39, 39, 39, 0.272);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    z-index: 1000; 
    border-radius: 50px;
    justify-content: space-between; 
    height: 80vh;;
  }
}



